<header id="main-header" class="main-header <% if(pageData.template != 'index'){%>header-child<%}%>">
	<div class="main-header__wp">
		<a href="<%= RELATIVE_PATH %>" class="main-header__logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo-wt.png" alt="" width="" class="logo-wt">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="" width="" class="logo">
		</a>
		<span class="main-header__mobile-icon">
			<span class="main-header__mobile-icon-border"></span>
			<span class="main-header__mobile-icon-border"></span>
			<span class="main-header__mobile-icon-border"></span>
		</span>
		<nav class="main-header__navGlobal">
			<p class="main-header__label sp">MENU</p>
			<ul class="main-header__menu" role="list">
				<li class="main-header__menu-item <% if(pageData.template == 'service'){%>active<%}%>"><a href="<%= RELATIVE_PATH %>service" class="main-header__link">事業内容</a></li>
				<li class="main-header__menu-item main-header__menu-item--contact"><a href="<%= RELATIVE_PATH %>contact/" class="main-header__link">お問い合わせ</a></li>
			</ul>
		</nav>
	</div>
</header>



