<section class="mv-top">
	<ul class="mv-top__slider">
		<li class="mv-top__slider-item first">
			<div class="mv-top__slider-img">
				<img src="<%= RELATIVE_PATH %>img/index/mv-01.jpg" alt="">
			</div>
		</li>
		<li class="mv-top__slider-item">
			<div class="mv-top__slider-img">
				<img src="<%= RELATIVE_PATH %>img/index/mv-02.jpg" alt="">
			</div>
		</li>
		<li class="mv-top__slider-item">
			<div class="mv-top__slider-img">
				<img src="<%= RELATIVE_PATH %>img/index/mv-03.jpg" alt="">
			</div>
		</li>
	</ul>
	<div class="slider-dots-box"></div>
	<div class="mv-top__ct">
		<h1 class="mv-top__ct-ttl">With Your Printing</h1>
		<p class="mv-top__ct-desc">身近な存在であり続けるため、私達は努力を続けます。</p>
	</div>
	<a href="#" class="mv-top__btn"><span>お問い合わせ</span></a>
</section>

<section class="kodawrari-top">
	<div class="inner">
		<h2 class="kodawrari-top__ttl">KODAWARI</h2>
		<ul class="kodawrari-top__list">
			<li>
				<a href="/service_02/">
					<img src="<%= RELATIVE_PATH %>img/index/img-top-01.png" alt="紙">
					<span>紙</span>
				</a>
			</li>
			<li>
				<a href="/service_03/">
					<img src="<%= RELATIVE_PATH %>img/index/img-top-02.png" alt="色">
					<span>色</span>
				</a>
			</li>
			<li>
				<a href="">
					<img src="<%= RELATIVE_PATH %>img/index/img-top-03.png" alt="加工">
					<span>加工</span>
				</a>
			</li>
		</ul>
		<div class="kodawrari-top__btn">
			<a href="/service_01/"><img src="<%= RELATIVE_PATH %>img/index/bg-btn.jpg" alt=""><span>物</span></a>
		</div>
	</div>
	<ul class="kodawrari-top__slider">
		<li class="kodawrari-top__slider-item"><img src="<%= RELATIVE_PATH %>img/index/slider-kodawari-01.jpg" alt=""></li>
		<li class="kodawrari-top__slider-item"><img src="<%= RELATIVE_PATH %>img/index/slider-kodawari-02.jpg" alt=""></li>
		<li class="kodawrari-top__slider-item"><img src="<%= RELATIVE_PATH %>img/index/slider-kodawari-03.jpg" alt=""></li>
		<li class="kodawrari-top__slider-item"><img src="<%= RELATIVE_PATH %>img/index/slider-kodawari-02.jpg" alt=""></li>
	</ul>
</section>
<section class="our-service">
	<div class="our-service__top">
		<div class="our-service__top-img">
			<img src="<%= RELATIVE_PATH %>img/index/img-service.jpg" alt="" class="pc">
			<img src="<%= RELATIVE_PATH %>img/index/img-service-sp.jpg" alt="" class="sp">
		</div>
		<div class="our-service__top-ct">
			<h2 class="c-ttl__01 our-service__top-ttl">
				<span>Our <br class="pc"><span>Services</span></span>
				<small>イメージの色を作り出し、理想の形に</small>
			</h2>
			<div class="our-service__top-desc">
				<p class="our-service__top-txt-lead">印刷事業</p>
				<p class="c-txt__01">卓越した技術と長年の経験を活かした印刷ソリューションを提供しています。私たちの強みは、細部までこだわった高品質な印刷と、お客様との強いパートナーシップを築くことにあります。</p>
			</div>
			<div class="our-service__top-btn"><a href="/service/">View more</a></div>
		</div>
	</div>
	<ul class="our-service__gallery">
		<li>
			<img src="<%= RELATIVE_PATH %>img/index/img-service-01.jpg" alt="" class="pc-sm">
			<img src="<%= RELATIVE_PATH %>img/index/img-service-01-sp.jpg" alt="" class="sp-sm">
		</li>
		<li>
			<img src="<%= RELATIVE_PATH %>img/index/img-service-02.jpg" alt="" class="pc-sm">
			<img src="<%= RELATIVE_PATH %>img/index/img-service-02-sp.jpg" alt="" class="sp-sm">
		</li>
		<li>
			<img src="<%= RELATIVE_PATH %>img/index/img-service-03.jpg" alt="" class="pc-sm">
			<img src="<%= RELATIVE_PATH %>img/index/img-service-03-sp.jpg" alt="" class="sp-sm">
		</li>
		<li>
			<img src="<%= RELATIVE_PATH %>img/index/img-service-04.jpg" alt="" class="pc-sm">
			<img src="<%= RELATIVE_PATH %>img/index/img-service-04-sp.jpg" alt="" class="sp-sm">
		</li>
	</ul>
</section>